<%= form_with(model: @question_assessment, local: true) do |f| %>

  <%= f.hidden_field :question_id, value: @question.id %>

  <%= f.hidden_field :interviewee_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :question_session_id %>

    <%= f.collection_select :question_session_id, QuestionSession.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create question assessment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
