<%= form_with(model: @vote, local: true) do |f| %>

  <%= f.hidden_field :voter_id, value: current_user.id %>

  <%= f.hidden_field :question_id, value: @question.id %>

  <div class="form-group">
    <%= f.label :vote_type %>

    <%= f.select :vote_type, options_for_select(Vote.vote_types.keys), {}, class: "form-control" %>
  </div>

  <%= f.submit "Create vote", class: "btn btn-block btn-outline-secondary" %>
<% end %>
