<div class="card mb-3">
  <h2 class="card-header h4">
    Question Assessment #<%= question_assessment.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Question</dt>
      <dd>
        <% if @question_assessment.question.present? %>
          <%= link_to question_assessment.question, question_assessment.question %>
        <% end %>
      </dd>

      <dt>Interviewee</dt>
      <dd>
        <% if @question_assessment.interviewee.present? %>
          <%= link_to question_assessment.interviewee, question_assessment.interviewee %>
        <% end %>
      </dd>

      <dt>Question session</dt>
      <dd>
        <% if @question_assessment.question_session.present? %>
          <%= link_to question_assessment.question_session, question_assessment.question_session %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back question_assessment, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @question_assessment.interviewee %>
          <%= link_to edit_question_assessment_url(question_assessment), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @question_assessment.interviewee %>
          <%= link_to question_assessment, method: :delete, data: { confirm: "Do you really want to delete this question_assessment?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(question_assessment.updated_at) %> ago
  </div>
</div>
