<% was_validated = question_assessment.errors.any? %>

<%= form_with(model: question_assessment, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% question_class = "form-control" %>
    <% question_was_invalid = question_assessment.errors.include?(:question) %>

    <% if was_validated %>
      <% if question_was_invalid %>
        <% question_class << " is-invalid" %>
      <% else %>
        <% question_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :question_id %>
    <%= f.collection_select :question_id, Question.all, :id, :to_s, {}, class: "form-control" %>
    <% if question_was_invalid %>
      <% question_assessment.errors.full_messages_for(:question).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :interviewee_id, value: current_user.id %>
  <div class="form-group">
    <% question_session_class = "form-control" %>
    <% question_session_was_invalid = question_assessment.errors.include?(:question_session) %>

    <% if was_validated %>
      <% if question_session_was_invalid %>
        <% question_session_class << " is-invalid" %>
      <% else %>
        <% question_session_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :question_session_id %>
    <%= f.collection_select :question_session_id, QuestionSession.all, :id, :to_s, {}, class: "form-control" %>
    <% if question_session_was_invalid %>
      <% question_assessment.errors.full_messages_for(:question_session).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
