<%= form_with(model: @question_session, local: true) do |f| %>

  <%= f.hidden_field :interviewee_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :company_id %>

    <%= f.collection_select :company_id, Company.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create question session", class: "btn btn-block btn-outline-secondary" %>
<% end %>
