<!-- Form question_session start -->
<%= form_with(model: @question_session, local: true) do |f| %>
<!-- Form question_session end -->

  <!-- Label and input for interviewee_id start -->
  <div class="form-group">
    <%= f.label :interviewee_id %>

    <!-- Input for interviewee_id start -->
    <%= f.text_field :interviewee_id, class: "form-control" %>
    <!-- Input for interviewee_id end -->
  </div>
  <!-- Label and input for interviewee_id end -->

  <!-- Label and input for company_id start -->
  <!-- Input for company_id start -->
  <%= f.hidden_field :company_id, value: @company.id %>
  <!-- Input for company_id end -->
  <!-- Label and input for company_id end -->

  <%= f.submit "Create question session", class: "btn btn-block btn-outline-secondary" %>
<% end %>
