<% was_validated = company.errors.any? %>

<%= form_with(model: company, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for company_name start -->
  <div class="form-group">
    <% company_name_class = "form-control" %>
    <% company_name_was_invalid = company.errors.include?(:company_name) %>

    <% if was_validated %>
      <% if company_name_was_invalid %>
        <% company_name_class << " is-invalid" %>
      <% else %>
        <% company_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :company_name %>
    <!-- Input for company_name start -->
    <%= f.text_field :company_name, class: company_name_class, placeholder: "Enter company name" %>
    <!-- Input for company_name end -->
    <% if company_name_was_invalid %>
      <% company.errors.full_messages_for(:company_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for company_name end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
